{% extends 'base.html' %}

{% block content %}
    <style>
        #myProgress {
            width: 100%;
            background-color: #ddd;
            text-align: center;
            line-height: 30px;
        }

        #myBar {
            width: 0%;
            height: 30px;
            background-color: #04AA6D;
        }

        #instructions {
            background-color: #f2f2f2;
        }

        #results {
            display: none;
        }
    </style>

    <h1>{% block title %} Zefix Search {% endblock %}</h1>

    <label for="search"></label>
    <input id="search" type="text" name="title"
           placeholder="Search string"
           value="{{ request.form['title'] }}">
    <button id="submit" type="submit" onclick="userAction()">Search</button>
    <script>
        // Get the input field
        const input = document.getElementById("search");

        // Execute a function when the user presses a key on the keyboard
        input.addEventListener("keyup", function (event) {
            // If the user presses the "Enter" key on the keyboard
            if (event.key === "Enter") {
                // Cancel the default action, if needed
                event.preventDefault();
                // Trigger the button element with a click
                document.getElementById("submit").click();
            }
        });

        function scrub_message(text) {
            text = text.replace(/&amp;amp;quot/g, "\"")
            text = text.replace(/&amp;amp;/g, "&")
            text = text.replace(/&amp;lt;/, "<")
            text = text.replace(/&amp;gt;/g, ">")
            text = text.replace(/amp;apos;/g, "'")
            text = text.replace(/&amp;quot;/g, "\"")
            text = text.replace(/&amp;/g, "&")
            text = text.replace(/&lt;/g, "<")
            text = text.replace(/&gt;/g, ">")
            text = text.replace(/&apos;/g, "'")
            text = text.replace(/&quot;/g, "\"")
            text = text.replace(/<[A-Z]>([^<]+)<E>/g, '$1')
            text = text.replace(/<FT TYPE=".">([^<]+)<\/FT>/g, '$1')
            return text
        }

        var width = 0;

        function move() {
            var elem = document.getElementById("myBar");
            var id = setInterval(frame, 50);

            function frame() {
                if (width === 100) {
                    elem.style.width = "100%";
                    clearInterval(id);
                }
                else {
                    width = (width + 1) % 100;
                    elem.style.width = width + "%";
                }
            }
        }

        async function* makeTextFileLineIterator(fileURL) {
            const utf8Decoder = new TextDecoder("utf-8");
            let response = await fetch(fileURL);
            let reader = response.body.getReader();
            let {
                value: chunk,
                done: readerDone
            } = await reader.read();
            chunk = chunk ? utf8Decoder.decode(chunk, { stream: true }) : "";

            let re = /\n+/gm;
            let startIndex = 0;

            for (; ;) {
                let result = re.exec(chunk);
                if (!result) {
                    if (readerDone) {
                        break;
                    }
                    let remainder = chunk.substring(startIndex);
                    ({
                        value: chunk,
                        done: readerDone
                    } = await reader.read());
                    chunk = remainder + (chunk ? utf8Decoder.decode(chunk, { stream: true }) : "");
                    startIndex = re.lastIndex = 0;
                    continue;
                }
                yield chunk.substring(startIndex, result.index);
                startIndex = re.lastIndex;
            }
            if (startIndex < chunk.length) {
                // last line didn't end in a newline char
                yield chunk.substring(startIndex);
            }
        }

        var chid_cache = {}

        async function userAction() {
            document.getElementById('instructions').style.display = 'none';
            document.getElementById('results').style.display = 'block';

            const table = document.getElementById('result')
            const body = table.getElementsByTagName('tbody')[0]
            body.innerHTML = ''

            let progress = document.getElementById("myBar");
            let match_count = 0;
            progress.innerText = match_count + ' matches';
            width = 0;
            move();

            for await (let line of
                makeTextFileLineIterator('search?q=' + encodeURIComponent(document.getElementById('search').value)))
            {
                try {
                    let myJson = JSON.parse(line)

                    let tr = body.insertRow(-1);
                    let tabCell = tr.insertCell(-1);
                    {#tabCell.innerHTML =#}
                    {#    `<a href="${'https://www.zefix.ch/en/search/entity/list/firm/' + myJson.companyShort.ehraid + '#shabPub-'#}
                    {#                + myJson.sogcPublication.sogcId}">${myJson.sogcPublication.sogcId}</a>`;#}
                    tabCell.innerHTML =
                        `<a href="${'https://www.shab.ch/shabforms/servlet/Search?EID=7&DOCID='
                                    + myJson.sogcPublication.sogcId}">${myJson.sogcPublication.sogcId}</a>`;
                    tabCell = tr.insertCell(-1);
                    tabCell.textContent = myJson.sogcPublication.sogcDate;
                    tabCell = tr.insertCell(-1);
                    if (myJson.companyShort.name) {
                        tabCell.innerHTML =
                            `<a href="${'https://www.zefix.ch/en/search/entity/list/firm/'
                                        + myJson.companyShort.ehraid}">${myJson.companyShort.name}</a>`;
                    }
                    else if (chid_cache[myJson.companyShort.chid]) {
                        tabCell.innerHTML =
                            `<a href="${'https://www.zefix.ch/en/search/entity/list/firm/'
                                        + chid_cache[myJson.companyShort.chid].ehraid}">${chid_cache[myJson.companyShort.chid].name}</a>`;
                    }
                    else {
                        console.log('fetching chid ' + myJson.companyShort.chid)
                        let resp = await fetch('https://www.zefix.ch/ZefixREST/api/v1/firm/search.json', {
                            mode: 'cors',
                            method: 'POST',
                            body: JSON.stringify({
                                name: myJson.companyShort.chid,
                                deletedFirms: true,
                                offset: 0,
                                languageKey: 'en',
                                maxEntries: 1
                            }),
                            headers: {
                                'Accept': 'application/json, text/plain, */*',
                                'Accept-Encoding': 'gzip, deflate, br',
                                'Content-Type': 'application/json',
                            }
                        });
                        const zefix_search_res = await resp.json();
                        chid_cache[myJson.companyShort.chid] = zefix_search_res.list[0];
                        tabCell.innerHTML =
                            `<a href="${'https://www.zefix.ch/en/search/entity/list/firm/'
                                        + zefix_search_res.list[0].ehraid}">${zefix_search_res.list[0].name}</a>`;
                    }

                    tabCell = tr.insertCell(-1);
                    tabCell.textContent = scrub_message(myJson.sogcPublication.message);
                    match_count++;
                    progress.innerText = match_count + ' matches';
                } catch (e) {
                    console.log(e, line)
                }
            }
            width = 100;
        }
    </script>
    <div id="myProgress">
        <div id="myBar"></div>
    </div>
    <br>
    <div id="instructions">
        Instructions and matching rules:
        <p>
        <ul>
            <li>Search terms are case-insensitive, but must otherwise be exact matches (<i>house</i> does <b>not</b> match
                <i>houses</i> or vice-versa)
            </li>
            <li>In the case of multiple search terms the order is relevant (must appear in the same order in matched text), but up
                to 30 additional characters may appear in between two consecutive search terms
            </li>
        </ul>
        </p>
    </div>
    <div id="results">
        <label>Result</label>
        <table id="result">
            <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Company</th>
                <th>Text</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div id="attribution">
        <p><i>
            <a href="https://www.zefix.admin.ch/ZefixPublicREST/swagger-ui/index.html?configUrl=/ZefixPublicREST/v3/api-docs/swagger-config">Swiss
                Official Gazette of Commerce (SOGC) data</a> by <a href="https://www.zefix.admin.ch/">Federal Registry of
            Commerce</a> is licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>
        </i></p>
    </div>
{% endblock %}
